# Django
*.log
*.pot
*.pyc
__pycache__/
db.sqlite3
db.sqlite3-journal

# Media files (uploaded content)
media/

# Static files
staticfiles/

# Python
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
